# created by virtualenv automatically
.venv/Lib
# קבצי מערכת של Python
__pycache__/
*.py[cod]

# סביבות וירטואליות
venv/
.venv/

# קבצי מערכת של מערכת הפעלה
.DS_Store
Thumbs.db

# קבצי לוגים
*.log

# קבצי IDE נפוצים
.idea/
.vscode/